page-home {

  .welcome-message {
    text-align: center;
    margin: 30px auto 0 0 !important;
  }

  .start {
    text-align: center;
    margin: 30px auto 0 0 !important;
  }

  .clean-btn {
    margin: 40px 0;
    width: 100%;
    text-align: center;
  }

  .console {
    background: #000;
    width: 100%;
    height: 45%;
    margin: auto;
    color: #019101;
    font-size: 10px;
    padding-top: 1px;
    padding-left: 5px;
  }

  .imp-text {
    color: #D4D4D4 !important;

  }

}
