<ion-header>
  <!-- <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content padding>
  
  <h4 class="welcome-message">Welcome to Contacts Cleaner</h4>
  <h1 class="start">START CLEANING</h1>

  <button class="clean-btn" (click)="cleanProcess()" ion-button large round outline>
    CLEAN
  </button>

  <div class="console">
    <p [innerHTML]="status">
      
    </p>
  </div>


</ion-content>
